nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
margin: auto;
padding: 50px;
}
button{
    border-radius: 10px;
    width: 244px;
height: 57px;

}
#banner{
    background-image: url("./assets/Hero-bg.png");
height: 650px;


}
.image{
    display: flex;
    justify-content: center;
}
.banner_heading{
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    width: 30%;
    
}
.paragraph{
    width: 50%;
    margin: auto;
    padding: 15px;
   
}
.button2{
    background-color: black;
    color: aliceblue;
    
    
}
 .banner_button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
 }
 #second_section > h1{
 }

   #third_section{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    gap: 250px;
    margin-top: 30px;
   } 
 .describtion{
    width: 50%;
   
 }
 .picture{
    width: 50%;
    margin-top: 30px;
 }
.describtion >{
    margin-top: 20px;
    
}
.learn_more{
    margin-top: 20px;
    width: 100px;
    height: 57px;
    color: rgb(37, 36, 36);
    border: 1px rgb(37, 36, 36) solid;
    

}
#second_section{
    margin-top: 100px;
    
}
#fourth_section{
    width: 45%;
    display: flex;
    /* justify-content: space-between; */
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 20px;
    padding: 50px 60px 50px 0px;
}
#inspiration{
    border: 3px rgb(128, 125, 125) solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 80px;
    
}

iframe {
    border: 5px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 800px;
}
#card{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 30px;
    margin-bottom: 40px;
}

.html{
    width: 25%;
    background-color:beige;
    padding: 20px;
    border-radius: 10px;
}
.css{
    width: 25%;
    background-color: rgb(233, 230, 249);
    padding: 20px;
    border-radius: 10px;


}
.js{
    width: 25%;
    background-color: rgb(245, 245, 188);
    padding: 20px;
    border-radius: 10px;
}
h3{
    border-bottom: 1px black solid;
    width: 90px;
}
#current_target{
    width: 80%;
    margin: auto;
    
    
}
.reactjs{
    display: flex;
    border: yellowgreen 2px solid;
    gap: 24px;
    padding: 30px;
    border: 2px rgb(188, 186, 186) solid;
    border-radius: 10px;
    margin-bottom: 30px;
}
.react_image{
    margin-top:50px;
    
}
